@import 'src/assets/styles/variables';

.panel {
  height: 100vh;
}

.typewriter {
  transform: translateY(-100%);
  opacity: 1;
  border: none;
  max-width: fit-content;
  border-right: .15rem solid transparent;
  white-space: nowrap;
  overflow: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  animation: typewriter 2.5s steps(44) 1s 1 normal both,
  blinkTextCursor 500ms steps(40) .75s 8;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkTextCursor {
  from,
  to {
    border-color: transparent
  }
  0% {
    border-color: $white-muddy;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-in {
  &:nth-child(2) {
    animation: slide-in 1s forwards;
  }

  &:nth-child(3) {
    animation: slide-in 1.5s forwards;
  }

  &:nth-child(4) {
    animation: slide-in 2s forwards;
  }
}

:host::ng-deep {
  .p-dialog {
    border: none;

    .p-dialog-header {
      background: $primary;
    }

    .p-dialog-content {
      background: $primary;
    }
  }
}
