<div class="absolute top-0 right-0">
  <div class="hidden md:flex mt-5 select-none border-right-1 border-white-alpha-10 mx-4">
    <h3 *ngFor="let option of options" class="m-0 text-sm lg:text-lg xl:text-xl">
      <a class="mx-3 no-underline text-gray-400 hover:text-gray-200 border-left-1 border-white-alpha-10 pl-4"
         routerLink="/{{option.toLowerCase()}}">{{option}}</a>
    </h3>
  </div>
  <div class="hidden sm:block md:hidden mt-3">
    <p-dropdown class="px-3" [options]="options" [(ngModel)]="selectedOption" (ngModelChange)="navigate()"
                placeholder="Select a Page"></p-dropdown>
  </div>
  <div class="sm:hidden h-5rem mr-2 flex justify-content-end align-items-center px-3 pt-1">
    <div (click)="togglePhoneMenu()" class="hamburger" [class.active]="activePhoneMenu">
      <div class="hamburger-bar border-round-3xl bg-bluegray-600"
           [@hamburger]="!activePhoneMenu ? 'hamburger' : 'topX'"></div>
      <div class="hamburger-bar border-round-3xl bg-bluegray-600"
           [@hamburger]="!activePhoneMenu ? 'hamburger' : 'hide'"></div>
      <div class="hamburger-bar border-round-3xl bg-bluegray-600"
           [@hamburger]="!activePhoneMenu ? 'hamburger' : 'bottomX'"></div>
    </div>
  </div>
</div>

<p-dialog [modal]="true"
          [dismissableMask]="true"
          [resizable]="false"
          [autoZIndex]="false"
          [closeOnEscape]="true"
          [showHeader]="false"
          [(visible)]="activePhoneMenu">
  <div class="my-8 pt-5 consolas">
    <h3 *ngFor="let option of options" (click)="togglePhoneMenu()" class="m-5 text-center">
      <a class="text-white-alpha-70 no-underline"
         routerLink="/{{option.toLowerCase()}}">{{option}}</a>
    </h3>
  </div>
  <div class="border-top-1 text-white-alpha-70 border-white-alpha-70 mx-7">
    <div class="flex justify-content-center mr-3 mt-5 cursor-pointer" (click)="logout()">
      <i class="pi pi-sign-out mr-1 text-xs pt-1"></i>
      <span class="consolas">Logout</span>
    </div>
  </div>
</p-dialog>

