@import 'src/assets/styles/variables';
@import 'src/assets/styles/custom';

button {
  height: 2.65rem;

  i {
    display: none;
  }

  @media(max-width: 350px) {
    margin: 0 .5rem 0 .5rem;
    span {
      display: none;
    }
    i {
      display: block;
    }
  }
}

.calendar {
  overflow: hidden;
  @media(min-width: 1200px) {
    max-height: 87.5vh;
    overflow-y: auto;
  }

  .aspect-ratio {
    aspect-ratio: .85;
    @media (min-width: 576px) {
      aspect-ratio: 1.25;
    }
  }

  .availability {
    font-size: calc(.4rem + .75vw);
    line-height: 0;
  }
}

.days {
  flex: 1 0 14%;
  color: $white-muddy;

  &:nth-child(n + 5) {
    color: $yellow;
  }
}

