<div class="h-5rem w-full flex justify-content-between border-bottom-1 border-white-alpha-10">
</div>

<div class="concert">
  <div *ngIf="concertItems.length else loader">
    <div
      *ngFor="let concert of concertItems"
      class="bg-black-alpha-10 scalein border-round p-3 md:p-5 my-4 flex justify-content-between text-white-alpha-60">
      <div>
        <div class="flex pt-1">
          <i class="pi pi-calendar"></i>
          <h4 class="m-0 px-2">{{concert.date | date : 'fullDate'}}</h4>
        </div>
        <div class="flex pt-1">
          <i class="pi pi-home"></i>
          <h4 class="m-0 px-2">{{concert.location}}</h4>
        </div>
        <div class="flex pt-1">
          <i class="pi pi-user mr-2"></i>
          <div *ngFor="let status of concert.availability, index as userId">
            <div class="flex mr-1 md:mr-3">
              <i
                [ngClass]="{
            'pi-check text-green-600': status === 'available',
            'pi-times text-red-500': status === 'unavailable',
            'pi-question text-blue-300': status === 'unknown'}"
                class="pi availability pt-1 font-bold"></i>
              <p class="m-0 px-1 participants md:pt-0 md:text-xs xl:text-sm white-space-nowrap">
                {{isPhoneView ? users[userId].nickname : users[userId].name}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <i class="pi pi-cog cursor-pointer md:text-2xl flex align-items-center"></i>
    </div>
  </div>

  <ng-template #loader>
    <div class="my-3">
      <div class="border-round p-1 w-full">
        <p-skeleton styleClass="h-5rem md:h-7rem"></p-skeleton>
      </div>
      <div class="border-round p-1 my-3 w-full">
        <p-skeleton styleClass="h-5rem md:h-7rem"></p-skeleton>
      </div>
      <div class="border-round p-1 w-full">
        <p-skeleton styleClass="h-5rem md:h-7rem"></p-skeleton>
      </div>
    </div>
  </ng-template>
</div>
