@import 'node_modules/primeflex/themes/arya-blue';
@import 'src/assets/styles/custom';

:host::ng-deep {

  .repertoire-container {
    overflow: hidden;
    @media(min-width: 1200px) {
      max-height: 87.5vh;
      overflow-y: auto;
    }
  }

  .p-panel {
    border: none;
    transition: background-color 50ms linear;
    background-color: var(--bluegray-900);
    border-radius: 1rem;
    &:hover {
      background-color: var(--bluegray-800);
    }

    .p-panel-header {
      border: none;
      background-color: transparent;
      .p-panel-header-icon {
        box-shadow: none;
      }
    }

    &-content {
      border: none;
      padding: 0 1rem 1rem 1rem;
      background-color: transparent;
    }
  }
}

