/* Colors */

$primary: rgb(31, 31, 45);
$secondary: rgb(60, 59, 100);
$green: rgb(63, 66, 52);
$shadow: rgba(0, 0, 0, .5);
$shadow-light: rgba(0, 0, 0, .25);
$white: rgb(224, 215, 215);
$white-muddy: rgb(178, 185, 194);
$yellow: rgb(85, 169, 24);

